---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

---
title: "Academic Teaching Experience"
collection: teaching
type: "Teaching Summary"
permalink: /teaching/overview
venue: ""
date: 2025-01-01
location: "Brazil"
---

# Academic Teaching Experience

---

## State University of Ceará  
**Academic Unit**: Center for Technology and Sciences  
**Location**: Fortaleza, Ceará, Brazil  

### Undergraduate – Bachelor’s Degree in Computer Science Teaching

#### From 2018
* Computer Architecture  
* Programming and Algorithm Practice (Capstone Component)  
* Data Structures  

#### 2017
* Algorithms and Programming  
* IT Management  
* Human-Computer Interaction  
* Introduction to Computing  
* Programming Language I  

#### 2016
* Database Systems  

#### 2015
* Computer Laboratory  

#### 2014
* Project Management  
* Human-Computer Interface  
* Introduction to Computing  
* Capstone Project Supervision  

#### 2013
* Information Security  

---

## Paraíso College  
**Academic Unit**: Department of Information Technology  
**Location**: Juazeiro do Norte, Ceará, Brazil  

### Undergraduate – Bachelor’s Degree in Information Systems

#### 2015 – Second Semester
* Object-Oriented Programming II  
* Cooperative Systems  

#### 2015 – First Semester
* Object-Oriented Programming II  
* Cooperative Systems  

#### 2014 – Second Semester
* Object-Oriented Programming II  
* Cooperative Systems  

#### 2014 – First Semester
* Object-Oriented Programming II  
* Cooperative Systems  

#### 2013 – Second Semester
* Object-Oriented Programming II  
* Cooperative Systems  
* Programming Languages  
* Software Engineering II  

#### 2013 – First Semester
* Object-Oriented Programming II  
* Cooperative Systems  
* Programming Languages  

#### 2012 – Second Semester
* Object-Oriented Programming II  
* Cooperative Systems  
* Programming Languages  

---

## Leão Sampaio College  
**Academic Unit**: School of Technology  
**Location**: Juazeiro do Norte, Ceará, Brazil  

### Undergraduate – Associate Degree in Systems Analysis and Development

#### 2011
* Programming Language  
* Object-Oriented Programming I  
* Object-Oriented Programming II  


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
